#me{
    margin:0% 0 0 0;
    width: 200px;
    float: left;;
}

img{
    width: 40px;
}

p{
    font-size: 80%;
    line-height: 200%;
}

section{
    float: left;
}

img,figcaption {
    margin: 0 0 0 4;
    display: inline-block;
    vertical-align: middle;
}

#s {
    text-decoration: none;
}

section{
    width:60%;
}