
@font-face {
    font-family: 'baskerville' ;
    src: url(fonts/LibreBaskerville-Regular.ttf)
}

body{
    margin: 80px 4% 0 4%;
    background-color:#FBF7EC ;
}

header{
    color:#2A2B2E;
    font-family: "baskerville";
    text-align: justify;
}

a{
    display: block;
    font-variant: small-caps;
}

div{
    width:70%;
    color:#2A2B2E;
    font-family: "baskerville";
    text-align: left;
    line-height: 25px;
    float:left;
    margin:0 0 0 4%;
}

h1{
    font-size: 100px;
    text-align: center;
    line-height: 20px;
    margin: 40px 0 40px 0;
    font-variant: none;
}

h2{
    font-variant: small-caps;
    font-size: 40px;
    margin: 40px 0 40px 0;
}

nav{
    float:right;
    width: 18%;
}

#img{
    text-decoration: none;
    color:#2A2B2E;
}

li{
    margin: 10px 0 10px 0;
}

#link-1Post{
    width:90%;
    margin: 10px 0 0 4%;
}

#Foto-Home{
    width: 90%;
    margin: 10px 0 0 4%;
    clear: both;
}

.linkHome{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color:#2A2B2E;
}

.s{
    text-decoration: none;
}

.simg{
    width: 40px;
    display: inline-block;
    vertical-align: middle;
}

figcaption{
    margin: 0 0 0 4;
    display: inline-block;
    vertical-align: middle;
}

footer{
    margin-top: 135px;
    float: right;
}