
@font-face {
    font-family: 'baskerville' ;
    src: url(fonts/LibreBaskerville-Regular.ttf)
}

body{
    margin: 4%;
    background-color:#FBF7EC ;
}

header{
    color:#2A2B2E;
    font-family: "baskerville";
    text-align: justify;
    line-height: 150%;
}

a{
    display: block;
    font-variant: small-caps;
}

div{
    display: inline-block;
    width:70%;
    color:#2A2B2E;
    font-family: "baskerville";
    text-align: left;
    line-height: 150%;
    float:left;
    margin-left: 4%;
}

h1{
    font-size: 500%;
    text-align: center;
    line-height: 20%;
    margin: 5% 21.5% 4% 0%;
}

h2{
    font-variant: small-caps;
    font-size: 250%;
    text-align: center;
    line-height: 10%;
}

nav{
    display:inline-block;
    height: 100%;
    width: 15%;
    float:right;
    margin:0;
}
